/*-RESET-*/
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--GENERAL--*/
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.small-container{
    width: 100%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.flex-center{
    justify-items: center;
    align-items: center;
}
.flex-between{
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
.blue-text{
    color: #0084fd;
}
.purple-text{
    color: #9792e4;
}
.bg-purple{
    background-color: #9792e4;
    color: white;
}
/*-BUTTON GENERALS-*/
.button{
    padding: .5rem 1.3rem;
    border-radius: 1rem;
}
.button-white{
    background-color: white;
    color: black;
}
.button-white:hover{
    background-color: black;
    color: white;
}
.button-blue{
    background-color: #0084fd;
    color: white;
}
.button-blue:hover{
    color: #0084fd;
    background-color: white;
}
/*----HEADER-----*/
header{
    background-color: #0084fd;
    color: white;
}
header div.header-nav{
    padding: 1rem;
}
header nav ul li{
    list-style: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header li.nav-items{
    display: none;
}
header li#tendina{
    font-size: 1.5rem;
    display: block;
}
header li#tendina a:hover{
    color: black;
}
/*----MAIN-----*/
main>section{
    margin: 2rem 0;
}
/* ----------MAIN---------- */

main>section{
    margin: 2rem 0;
}

/*-MAIN CARD SECTION*/
section#main-card{
    margin-top: 2rem;
}
div.cards{
    flex-direction: column;
}
div.card{
    width: 90%;
    background-color: #b5ddff;
    border: 10px solid white;
    border-radius: 2.5rem;
}
div.small-card{
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
div.small-card i{
    font-size: 4rem;
}
div.small-card h2{
    margin: 1rem 3rem;
}
div#big-card{
    flex-direction: column;
}
section.card-text p,
div.small-card p{
    color: #515e69;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2rem 0;
}
div.small-card p{
    margin: .6rem 0;
}
section.card-text{
    padding: 2rem;
}
section.card-text a{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
div.card-img img{
    display: block;
    width: 300px;
}


/*-STRATEGIC PLANNING SECTION*/
section#strategic-planning{
    background-color: #9792e4;
}
div.planning-container{
    padding: 6rem 0;
}
div.planning{
    padding: 1rem;
    margin-top: 1rem;
}
/*Planning Strategic*/
div.planning-strategic img{
    width: 100%;
}
div.planning-strategic h2{
    font-size: 2rem;
    margin: 3rem 0;
}
div.planning-strategic p{
    font-size: 1.2rem;
}
/*Planning Plan*/
div.planning-plan{
    background-color: white;
    border-radius: 2rem;
    color: black;
    margin: 0 1.5rem;
    text-align: center;
}
div.planning-plan img{
    width: 100%;
}
div.planning-plan h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
div.planning-plan i{
    background-color: #9792e4;
    border-radius: 50%;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/*-TESTIMONIAL SECTION-*/
section#testimonial section.testimonial-title{
    text-align: center;
    padding: 1rem 2rem;
}
section#testimonial section.testimonial-title span{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}
section#testimonial section.testimonial-title h2{
    font-size: 3rem;
    margin: 2rem 0;
}
section#testimonial section.testimonial-title p{
    font-size: 1.5rem;
}
section#testimonial div.testimonial-cards{
    flex-direction: column;
}
div.testimonial-cards div.testimonial-card{
    flex-direction: column;
    
    text-align: center;
    background-color: #9792e4;
    margin: 1rem 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

/*-CARD INSIDE (IMG+CARD)-*/
div.testimonial-card div.testimonial-card-img{
    height: 100%;
}
div.testimonial-card div.testimonial-card-img div.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.testimonial-comment{
    color: white;
}
div.testimonial-comment p{
    margin: 2rem 0;
}
div.testimonial-comment p i{
    font-size: 1.5rem;
}
div.testimonial-comment span.testimonial-name{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
/*-BACKGROUND IMG ID-*/
#nat{
    background-image: url(img/testimonial1.jpg);
}
#celia{
    background-image: url(img/testimonial2.jpg);
}
#bob{
    background-image: url(img/testimonial3.jpg);
}
/*-BENEFITS SECTION-*/
section#benefits{
    background-color: #9792e4;
}
section#benefits h2{
    text-align: center;
    padding-top: 2rem;
}
section#benefits div.benefits-cards{
    flex-direction: column;
    padding: 3rem 2rem;

}
section#benefits div.benefits-card{
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 1rem;
}

/*-ABOUT-US SECTION-*/
div.aboutus-container{
    flex-direction: column;
    padding: 1rem;
}
div.aboutus-user-linkedin{
    margin-top: 2rem;
    width: 100%;
}
/*-GET STARTED SECTION-*/
section#get-started{
    text-align: center;
    margin-bottom: 0;
}
div.get-started-container{
    padding: 1rem;
}
/*--FOOTER--*/
footer{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1rem;
}
footer p{
    margin-bottom: 1rem;
}
/*----------------------------------------------------------------
--------------------RESPONSIVE------------------------------------
----------------------------------------------------------------*/

/*TABLET*/

@media screen and (min-width: 768px){
    .container{
        width: 95%;
    }
    .small-container{
        width: 90%;
    }
    /*-MAIN
    -HEADER CARDS-*/
    div.cards{
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
    }
    div.card:first-child{
        width: calc((100% / 3) * 2);
    }
    div.card{
        width: calc(100% / 3);
        height: 500px;
    }
    /*-TESTIMONIAL SECTION-*/
    div.testimonial-cards div.testimonial-card{
        flex-direction: row;
        text-align: start;
    }
    div.testimonial-card div.image{
        margin-right: 2rem;
    }
    /*-BENEFTIS SECTION-*/
    section#benefits div.benefits-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section#benefits div.benefits-card{
        width: calc((100% / 2) - 1rem);
        margin-left: 1rem;
    }
    /*-ABOUT US SECTION-*/
    div.about-us-container{
        flex-direction: row;
    }
    div.about-us-user-linkedn{
        margin-left: 5rem;
    }
}

/*-DEKSTOP-*/

@media screen and (min-width: 992px){
    /*-GENERAL-*/
    .container{
        width: 80%;
    }
    .small-container{
        width: 70%;
    }
    /*-HEADER NAV-*/
    header li.nav-items{
        display: inline-block;
    }
    header li#tendina{
        display: none;
    }
    /*-MAIN
    -FIRST CARDS-*/
    div.card{
        height: 500px;
    }
    div.card-img{
        height: 100%;
        align-items: flex-end;
        display: flex;
    }
    div#big-card{
        flex-direction: row;
    }
    section.card-text a.button{
        padding: .5rem;
    }
    /*-STRATEGIC PLANNING SECTION-*/
    div.planning-container{
        padding: 3rem 0;

        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    div.planning-strategic{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
    div.planning-strategic img{
        width: 80%;
    }
    div.planning-strategic p{
        font-size: 1.5rem;
    }
    div.planning-plan{
        width: 30%;
        height: 100%;
        align-items: flex-end;
    }
    /*-TESTIMONIAL SECTION-*/
    div.testimonial-card div.image{
        margin-right: 2rem;
    }
    /*-BENEFITS SECTION-*/
    section#benefits div.benefits-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    section#benefits div.benefits-card{
        width: calc((100% / 3) - 1rem);
        margin-left: 1rem;
    }
}